body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjY5a2VwNzl2emE1amVienc0M2xtZnJkeHN1cjRqcmVrc3hkcTF3diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3V0rZDtYhSxh6Wuk/giphy.gif');
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 90%;
}

h1 {
    text-align: center;
    color: #2fce0f;
    font-family: monospace;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #00ff2a;
    font-family: cursive;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

button {
    background-color: #ffd700;
    color: #333;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #333;
    color: #fff;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
